fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
boto3
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
prometheus-fastapi-instrumentator
pydantic[email]
pytest
pytest-asyncio
httpx
faker
motor
